<app-header></app-header>

<div class="content">
  <h1>Admin strana</h1>
  <table class="table table-striped list-of-videos">
    <thead>
      <tr>
        <th scope="col">Slika</th>
        <th scope="col">Naslov</th>
        <th scope="col">Opis</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <tr class="width-of-body-rows">
        <td>
          <iframe src="https://www.youtube.com/embed/eUgpFZvdyzQ" frameborder="0"></iframe>
        </td>
        <td class="padding-field">Naslov videa</td>
        <td class="padding-field">Opis video</td>
        <td class="padding-field">Link ka videu</td>
      </tr>

      <tr class="width-of-body-rows">
        <td>
          <iframe src="https://www.youtube.com/embed/npnp--SSx_8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </td>
        <td class="padding-field">Naslov videa</td>
        <td class="padding-field">Opis video</td>
        <td class="padding-field">Link ka videu</td>
      </tr>
    </tbody>
  </table>

</div>

<app-footer></app-footer>
