*{
  margin: 0px;
  padding: 0px;
}

.content{
  min-height: 600px;
}

.admin-header{
  margin: 70px auto;
  width: 510px;
}

.add-video{
  width: 200px;
  height: 50px;
  margin: 0px 150px;
}

.list-of-videos{
  width: 90%;
  margin: 60px auto;
  text-align: center;
}

.padding-field{
  padding: 70px;
}
