
<app-header></app-header>

<div class="content">
  <h1 class="admin-header">Admin strana | Video snimci</h1>
  <button class="add-video btn btn-primary" (click)="openDialogAddVideo()">Dodaj video</button>
  <table class="table table-striped list-of-videos">
    <thead>
      <tr>
        <th scope="col">Slika</th>
        <th scope="col">Naslov</th>
        <th scope="col">Opis</th>
        <th scope="col">Link</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="width-of-body-rows" *ngFor="let video of videos">
        <td>
          <iframe [src]="video.link | safe" frameborder="0"></iframe>
        </td>
        <td class="padding-field">{{ video.name }}</td>
        <td class="padding-field">{{ video.opis }}</td>
        <td class="padding-field"><a href="{{ video.link }}">Link ka videu</a></td>
        <td class="padding-field"><button id="{{ video.idVideo}}" class="btn btn-primary" mat-button (click)="openDialogEdit(video.idVideo)">Edit</button></td>
        <td class="padding-field"><button class="btn btn-danger" mat-button (click)="openDialogDelete(video.idVideo)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <ng-container *ngIf="videos.length < 1">
    <p class="message">Nema ni jedan video trenutno.</p>
  </ng-container>

</div>

<app-footer></app-footer>
