<div class="header">
  <div class="logo">

  </div>
  <div class="menu">
    <ul class="menu-list nav">
      <li class="nav-item"><a routerLink="/home">Pocetna</a></li>
      <li class="nav-item dropdown">
        <a class="dropdown-lnk">Admin</a>
        <div class="dropdown-content">
          <a class="dropdown-item" routerLink="/admin/videos">Video snimci</a>
          <a class="dropdown-item" routerLink="/admin/users">Korisnici</a>
        </div>
      </li>
      <li class="nav-item"><a routerLink="/auth/logout">Logout</a></li>
    </ul>
  </div>
</div>
