<app-header></app-header>

<div class="content">
  <h1 class="admin-header">Admin strana | Korisnici</h1>
  <table class="table table-striped list-of-users">
    <thead>
      <tr>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="width-of-body-rows" *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td><button id="{{ user.name }}" class="btn btn-primary dialog-open-btn" mat-button (click)="openDialogEdit(user.idUser)">Edit</button></td>
        <td><button id="{{ user.name }}" class="btn btn-danger dialog-open-btn" mat-button (click)="openDialogDelete(user.idUser)">Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>

<app-footer></app-footer>

